<a href="https://colab.research.google.com/github/Sudheendra-RD/NLP/blob/main/SpamClassifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [114]:
import pandas as pd

In [115]:
spam = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/RNN-LSTM/spam.csv', encoding='ISO-8859-1')
spam.head()

     v1  ... Unnamed: 4
0   ham  ...        NaN
1   ham  ...        NaN
2  spam  ...        NaN
3   ham  ...        NaN
4   ham  ...        NaN

[5 rows x 5 columns]

In [116]:
del spam['Unnamed: 2']
del spam['Unnamed: 3']
del spam['Unnamed: 4']

In [117]:
spam.columns

Index(['v1', 'v2'], dtype='object')

In [118]:
spam['message'] = spam['v2']
spam['output'] = spam['v1']

In [119]:
del spam['v1']
del spam['v2']

In [120]:
spam.head()

                                             message output
0  Go until jurong point, crazy.. Available only ...    ham
1                      Ok lar... Joking wif u oni...    ham
2  Free entry in 2 a wkly comp to win FA Cup fina...   spam
3  U dun say so early hor... U c already then say...    ham
4  Nah I don't think he goes to usf, he lives aro...    ham

In [121]:
spam['output'] = spam['output'].replace(to_replace='ham', value='1')
spam['output'] = spam['output'].replace(to_replace='spam', value='0')

In [122]:
spam.head()

                                             message output
0  Go until jurong point, crazy.. Available only ...      1
1                      Ok lar... Joking wif u oni...      1
2  Free entry in 2 a wkly comp to win FA Cup fina...      0
3  U dun say so early hor... U c already then say...      1
4  Nah I don't think he goes to usf, he lives aro...      1

In [123]:
import re
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [124]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [125]:
nltk.download('punkt')
nltk.download('wordnet')

lem = WordNetLemmatizer()
corpus = []
for i in range(0, len(spam)):
  clean = re.sub('[^a-zA-Z]', ' ', spam['message'][i])
  clean = clean.lower()
  clean = clean.split()

  clean = [lem.lemmatize(word) for word in clean if word not in set(stopwords.words('english'))]
  clean = ' '.join(clean)
  corpus.append(clean)

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [126]:
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
cv = TfidfVectorizer()
x = cv.fit_transform(corpus).toarray()

In [127]:
x

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [128]:
y = spam['output']
y = pd.array(y)
y

<PandasArray>
['1', '1', '0', '1', '1', '0', '1', '1', '0', '0',
 ...
 '1', '1', '1', '1', '0', '0', '1', '1', '1', '1']
Length: 5572, dtype: object

In [129]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state = 0)

In [130]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB().fit(x_train, y_train)

In [131]:
predict = model.predict(x_test)

In [132]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, predict)
acc = accuracy_score(y_test, predict)

In [133]:
print(cm)

[[120  46]
 [  0 949]]

In [134]:
print(acc)

0.9587443946188341